<section id="about" class="about-section">
  <h2>About</h2>

  <ol class="about-list">
    <li class="about-item">
      <span class="about-count">01</span>
      <p class="about-text">
        Swimming and water sports: try your hand at water skiing
      </p>
    </li>

    <li class="about-item">
      <span class="about-count">02</span>
      <p class="about-text">Fishing: try to catch your own dinner</p>
    </li>

    <li class="about-item">
      <span class="about-count">03</span>
      <p class="about-text">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </p>
    </li>

    <li class="about-item">
      <span class="about-count">04</span>
      <p class="about-text">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </p>
    </li>
  </ol>

  <img src="/img/about/about-desk.jpg" alt="about" width="432" />
</section>
