.about-list {
  background-color: #1b414b;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 716px;
  padding: 90px 50px;
  row-gap: 44px;
}

.about-count {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.about-text {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #b4b7ba;
}

.about-count::after {
  content: '';
  width: 100%;
  display: block;
  width: 100%;
  background-color: rgba(251, 251, 251, 0.1);
  border-radius: 18px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0; 
}

.about-content {
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: flex-start;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.about-image {
  border-radius: 24px;
}

.about-item {
  position: relative;
  width: calc((100% - 44px) / 2);
}