.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  background-color: #0f1e25;
  background-image: url('C:\\Users\\User\\projects\\blended-02\\src\\img\\hero\\hero-desk.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.hero-title {
  font-family: 'Inter Medium', sans-serif;
  font-weight: 500;
  max-width: 1001px;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}

.hero-description {
  font-family: 'Inter Light', sans-serif;
  max-width: 597px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #b4b7ba;
  margin-bottom: 48px;
}

.btn-hero {
  font-family: 'Inter Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  width: 179px;
  height: 52px;
  color: #fbfbfb;
  border: 1px solid #1b414b;
  border-radius: 15px;
  padding: 16px 40px;
  width: 179px;
  height: 52px;
  background: #1b414b;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  color: #1b414b;
  border: 1px solid #fbfbfb;
  background: #fbfbfb;
}
